In [1]:
import pandas as pd

In [2]:
doc_1 = ["Data is the oil of the digital economy"]
doc_2 = ["Data is a new oil"]

In [3]:
doc_corpus = [doc_1,doc_2]
doc_corpus

[['Data is the oil of the digital economy'], ['Data is a new oil']]

## Count Vectorizer

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

In [24]:
vectorizer = CountVectorizer()

#List of list should be converted to list of string, 
#then apply that to 'vectorizer.fit_transform(doc_corpus)'

bow_matrix = []
tempList = []

for doc_id in range(len(doc_corpus)):
    for word in doc_corpus[doc_id]:
        tempList.append("".join(word))

# or just do tempList = doc_1 + doc_2

bow_matrix = vectorizer.fit_transform(tempList)
print(bow_matrix.toarray())
print(vectorizer.get_feature_names_out())
print(vectorizer.vocabulary_)

[[1 1 1 1 0 1 1 2]
 [1 0 0 1 1 0 1 0]]
['data' 'digital' 'economy' 'is' 'new' 'of' 'oil' 'the']
{'data': 0, 'is': 3, 'the': 7, 'oil': 6, 'of': 5, 'digital': 1, 'economy': 2, 'new': 4}

## Visualize the bag of words into data frame

In [6]:
def createDataFrame(matrix,tokens):
    #create doucment names for row indexes
    doc_name = [str("doc_"+str(i)) for i, _ in enumerate(matrix)] 
    df = pd.DataFrame(data = matrix ,index = doc_name, columns = tokens)
    return(df)

In [7]:
tokens = vectorizer.get_feature_names_out()
df = createDataFrame(bow_matrix.toarray(),tokens)

In [8]:
df

       data  digital  economy  is  new  of  oil  the
doc_0     1        1        1   1    0   1    1    2
doc_1     1        0        0   1    1   0    1    0

## Find cosine similarity

In [9]:
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
cosine_similarity_matrix = cosine_similarity(bow_matrix)

In [11]:
cosine_similarity_matrix

array([[1.        , 0.47434165],
       [0.47434165, 1.        ]])

In [12]:
#display as dataframe using the same function used above 
df = createDataFrame(cosine_similarity_matrix,['doc_0','doc_1'])

In [13]:
df

          doc_0     doc_1
doc_0  1.000000  0.474342
doc_1  0.474342  1.000000

# Cosine similarity of TFIDF vectorizer

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
vec = TfidfVectorizer()

tempList = doc_1+doc_2


tfidfmatrix = vec.fit_transform(tempList)

In [16]:
print(tfidfmatrix.toarray())

[[0.24377685 0.34261985 0.34261985 0.24377685 0.         0.34261985
  0.24377685 0.68523971]
 [0.44832087 0.         0.         0.44832087 0.63009934 0.
  0.44832087 0.        ]]

In [17]:
tokens = vec.get_feature_names_out()

In [18]:
df_tfidf = createDataFrame(tfidfmatrix.toarray(),tokens)
df_tfidf

,data,digital,economy,is,new,of,oil,the
doc_0,0.243777,0.34262,0.34262,0.243777,0.000000,0.34262,0.243777,0.68524
doc_1,0.448321,0.00000,0.00000,0.448321,0.630099,0.00000,0.448321,0.00000

### Cosine Similarity

In [19]:
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
cosine_similarity_matrix = cosine_similarity(tfidfmatrix)

In [21]:
cosine_similarity_matrix

array([[1.        , 0.32787075],
       [0.32787075, 1.        ]])

In [22]:
#display as dataframe using the same function used above 
df = createDataFrame(cosine_similarity_matrix,['doc_0','doc_1'])

In [23]:
df

          doc_0     doc_1
doc_0  1.000000  0.327871
doc_1  0.327871  1.000000