In [13]:
import pandas as pd

In [14]:
x = pd.DataFrame([
    ['square','third','S'],
    ['square','first','S'],
    ['oval','second','L'],
    ['circle','third','XL']],columns=['Shape','Class','Size'])

In [15]:
x

    Shape   Class Size
0  square   third    S
1  square   first    S
2    oval  second    L
3  circle   third   XL

## One hot encoder for nominal data

In [25]:
from sklearn.preprocessing import OneHotEncoder

In [26]:
ohe = OneHotEncoder(sparse=True)

#can use 'handle_unknows' argument will transform words into strings of zeros if a new word is passed

In [29]:
new_shape = ohe.fit_transform(x[['Shape']]).toarray()   #can only pass DataFrame

In [30]:
print(new_shape)

[[0. 0. 1.]
 [0. 0. 1.]
 [0. 1. 0.]
 [1. 0. 0.]]

## OrdinalEncoder for Ordinal Data

In [31]:
from sklearn.preprocessing import OrdinalEncoder

In [32]:
print(x['Class'].unique())
print(x['Size'].unique())

['third' 'first' 'second']
['S' 'L' 'XL']

In [33]:
oe = OrdinalEncoder(categories=[['first','second','third'],['S','M','L','XL']])

In [34]:
oe.fit_transform(x[['Class','Size']])   #can only pass DataFrame

array([[2., 0.],
       [0., 0.],
       [1., 2.],
       [2., 3.]])