In [1]:
!pip3 install nltk

Requirement already satisfied: nltk in c:\users\user\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: click in c:\users\user\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\user\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\user\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [2]:
sentence = "Capital of India is Delhi"

In [3]:
sentence.split()

['Capital', 'of', 'India', 'is', 'Delhi']

In [4]:
s = "I'am going to kerala"

In [5]:
s.split()

#Here "I'am" is a single word, but we need it as "I" and  "am"

["I'am", 'going', 'to', 'kerala']

In [6]:
s = "Let's all travel to Hong Kong"
s.split()

#here hong kong is treated as two words, and it is actuallt a single word

["Let's", 'all', 'travel', 'to', 'Hong', 'Kong']

In [7]:
# we can understand that split fuction got that drawback, that it doesn't preserve the meaning of the words

# RegexpTokenizer

In [8]:
from nltk.tokenize import RegexpTokenizer

In [9]:
sentence = "The cost of Rolex watch is in range of $3000-$10000 in USA"

In [10]:
tokenizer = RegexpTokenizer('\w+')
tokenizer1 = RegexpTokenizer('\w+|\$[\d]+')

#RegexpTokenizer('\w+|\$')
#RegexpTokenizer('\w+|\$[\d]+')
#RegexpTokenizer('\w+|\$[\d]+|\s')
#\s includes white spices 
#\S excludes white spaces and includes other charecters like -,..

#creating object for RegexpTokenizer with the pattern as '\w+' for one or more occurance of letters

In [11]:
print(tokenizer.tokenize(sentence))

print('******************************')

print(tokenizer1.tokenize(sentence))

#function 'Tokenize' is used to tokenize the sentence

['The', 'cost', 'of', 'Rolex', 'watch', 'is', 'in', 'range', 'of', '3000', '10000', 'in', 'USA']
******************************
['The', 'cost', 'of', 'Rolex', 'watch', 'is', 'in', 'range', 'of', '$3000', '$10000', 'in', 'USA']

# TreebankWord Tokenizer

In [12]:
#'Penn Tree Bank' tokenizers split, based on delimiter, eg : "TreebankWordTokenizer"

In [13]:
from nltk.tokenize import TreebankWordTokenizer

In [14]:
sentence = "Rolex watch doesn't cost more than $3000 in USA"

In [15]:
tbTokenizer = TreebankWordTokenizer()

tbTokenizer.tokenize(sentence)

['Rolex',
 'watch',
 'does',
 "n't",
 'cost',
 'more',
 'than',
 '$',
 '3000',
 'in',
 'USA']

# Tweet Tokenizer

In [16]:
from nltk.tokenize import TweetTokenizer

In [17]:
sentence = "@mahir696 I'm going to buy a Rolexxxxxxx watch that cost $3000"

#'@mahir696' is an handle
#'Rolexxxxxx' has inflections 'xxxxxx'

In [18]:
tt = TweetTokenizer(reduce_len=True)



'''arguments for TweetTokenizer are : 
    preserve_case=True,
    reduce_len=False,
    strip_handles=False,
    match_phone_numbers=True'''

tt.tokenize(sentence)

['@mahir696',
 "I'm",
 'going',
 'to',
 'buy',
 'a',
 'Rolexxx',
 'watch',
 'that',
 'cost',
 '$',
 '3000']

In [19]:
tt1 = TweetTokenizer(reduce_len=True,strip_handles=True) #strip_handles will remove twitter accounts names
tt1.tokenize(sentence)

["I'm",
 'going',
 'to',
 'buy',
 'a',
 'Rolexxx',
 'watch',
 'that',
 'cost',
 '$',
 '3000']